.navroot {
    text-decoration: none !important;
    color:whitesmoke;
    padding-top: 125px;
    height:25%;
  }
  
  .svg-icon {
    width: 3em;
    height: 3em;
    margin-top: 10px;
  }
  
  path,
  polygon,
  rect {
    fill: #5e81ac;
  }
  
  .nav-bg {
    width: 700px;
    height: 75px;
    background-color: #2e3440;
    border-radius: 25px;
    margin: auto;
    overflow-x: hidden;
    top: 0;
    right: 0;
    transition: 0.5s;
    direction: rtl;
  }
  .nav-bg > * {
    direction: ltr;
  }
  
  a {
    margin-left: 80px;
    margin-right: 0px;
  }
  
  nav {
    margin: auto;
  }
  .nav-options {
    margin: auto;
    width: 750px;
  }
 

  a:hover {
    cursor: pointer;
  }
  